<section class="container py-5 my-md-3 my-lg-5">
    <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Team</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

    {% set data = load_data(path=current_path~"staff.yml") %}
    {% for person in data.staff %}
    <!-- Item -->
    <div class="col">
        <div class="card card-hover border-0 bg-transparent">
            <div class="position-relative">
                {% set image = resize_image(path=person.image, width=306, height=306, op="fill", format="webp", quality=75) %}
                <img src="{{ image.url }}" class="rounded-3" alt="{{ person.name }}">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                    {% if person.linkedin %}
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                    <div class="position-relative d-flex zindex-2">
                        <a href="https://www.linkedin.com/in/lior-levy-cpa-ca-lpa-bsc-43507921/" target=”_blank” class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">{{ person.name }}</h3>
                <p class="fs-sm mb-0">{{ person.position }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
