{% extends "base.html" %}

{% block content %}



<!-- Page title -->
<div class ="bg-secondary">

<!-- Breadcrumb -->
    <nav class="pt-md-2 pt-lg-3 pb-4 pb-md-5 mb-xl-4" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
    
        </ol>
    </nav>

<h1 class="container pb-4 mt-n1 mt-lg-0">Our Services</h1>

<!-- Service -->
<section class="container mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
                <img src="/assets/img/services/service01.jpg" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Corporate</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">From small businesses to public companies, we'll support you every step of the way.</p>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/assets/img/services/icons/digital.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Corporate Tax</h3>
                            <p class="fs-xs mb-0">Aliquam quis odio senectus.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/assets/img/services/icons/chart.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Bookkeeping</h3>
                            <p class="fs-xs mb-0">Curabitur neque ut morbi sapien.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/assets/img/services/icons/marketing.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Financial Statements</h3>
                            <p class="fs-xs mb-0">At faucibus molestie egestas sed.</p>
                        </div>
                    </div>
                    <hr class="d-sm-none">
                    <div class="col d-flex align-items-center p-3">
                        <img src="/assets/img/services/icons/cybersecurity.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Payroll</h3>
                            <p class="fs-xs mb-0">Orci bibendum ullamcorper lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
                
            </div>
        </div>
    </div>
</section>
</div>

<!-- Service -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="ps-lg-5">
                <img src="/assets/img/services/service02.jpg" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6 ordr-md-1">
            <h2 class="h3 mb-sm-4">Personal</h2>
            <ul class="list-unstyled d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    Maximum tax returns, as efficiently as possible.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    Sollicitudin cursus habitasse adipiscing est sed aenean sapien.
                </li>
                <li class="d-flex align-items-center">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    At arcu arcu morbi scelerisque nibh. Quam velit fermentum porta facilisi massa.
                </li>
            </ul>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/assets/img/services/icons/insurance.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Personal Tax</h3>
                            <p class="fs-xs mb-0">Nunc dui aliquam volutpat augue.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/assets/img/services/icons/banking.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Trust & Estate Filing</h3>
                            <p class="fs-xs mb-0">Habitasse adipiscing aenean sapien.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/assets/img/services/icons/payments.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Wealth Advisory</h3>
                            <p class="fs-xs mb-0">At faucibus molestie egestas sed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
            </div>
        </div>
    </div>
</section>


<!-- Service -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
                <img src="/assets/img/services/service03.jpg" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Consulting & Advisory</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">Sem scelerisque laoreet commodo velit. Fringilla tempor egestas mattis mauris eu dui in. Viverra enim velit fringilla turpis suspendisse amet ipsum, nisi sed.</p>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/assets/img/services/icons/asset.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Business Valuation</h3>
                            <p class="fs-xs mb-0">Mattis sodales tellus risus placerat in.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/assets/img/services/icons/operations.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Business Plans</h3>
                            <p class="fs-xs mb-0">Viverra volutpat tellus orci enim.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/assets/img/services/icons/finance.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">CFO/Controller</h3>
                            <p class="fs-xs mb-0">Aliquet amet pharetra fermentum sem.</p>
                        </div>
                    </div>
                    <hr class="d-sm-none">
                    <div class="col d-flex align-items-center p-3">
                        <img src="/assets/img/services/icons/audit.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Investor Relations</h3>
                            <p class="fs-xs mb-0">Venenatis congue iaculis malesuada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
            </div>
        </div>
    </div>
</section>





<!-- CTA -->
<section class="bg-secondary py-5">
    <div class="container text-center py-1 py-md-4 py-lg-5">
        <h2 class="h1 mb-4">Ready To Get Started?</h2>
        <p class="lead pb-3 mb-3">Reach out for a free consultation.</p>
        <a href="/contact" class="btn btn-primary shadow-primary btn-lg mb-1">Get started</a>
    </div>
</section>


{% endblock content %}
