{% extends "base.html" %}

{% block content %}



<!-- Page title -->
<div class ="bg-secondary">

<!-- Breadcrumb -->
    <nav class="pt-md-2 pt-lg-3 pb-4 pb-md-5 mb-xl-4" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
    
        </ol>
    </nav>

<h1 class="container pb-4 mt-n1 mt-lg-0">Our Services</h1>

<!-- Service -->
<section class="container mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
                {% set image = resize_image(path=current_path~"IMG_5371.jpg", width=588, height=533, op="fill", format="webp", quality=75) %}
                <img src="{{ image.url }}" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Corporate</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">From small businesses to public companies, we'll support you every step of the way.</p>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/images/services/digital.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Corporate Tax</h3>
                            <p class="fs-xs mb-0">Expert tax solutions tailored for your business.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/images/services/chart.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Bookkeeping</h3>
                            <p class="fs-xs mb-0">Accurate bookkeeping to keep your finances in order.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/images/services/marketing.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Financial Statements</h3>
                            <p class="fs-xs mb-0">Clear, accurate statements to guide your financial decisions.</p>
                        </div>
                    </div>
                    <hr class="d-sm-none">
                    <div class="col d-flex align-items-center p-3">
                        <img src="/images/services/cybersecurity.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Payroll</h3>
                            <p class="fs-xs mb-0">Reliable payroll services to ensure timely, accurate payments.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
            </div>
        </div>
    </div>
</section>
</div>

<!-- Service -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="ps-lg-5">
                {% set image = resize_image(path=current_path~"IMG_5309.jpg", width=588, height=533, op="fill", format="webp", quality=75) %}
                <img src="{{ image.url }}" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6 ordr-md-1">
            <h2 class="h3 mb-sm-4">Personal</h2>
            <ul class="list-unstyled d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    Tailored financial strategies to meet your unique needs and goals.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    Expert advice on budgeting, investing, and wealth management.
                </li>
                <li class="d-flex align-items-center">
                    <i class="bx bx-check lead text-primary me-2"></i>
                    Personalized support for long-term financial stability and growth.
                </li>
            </ul>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/images/services/insurance.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Personal Tax</h3>
                            <p class="fs-xs mb-0">Tailored tax solutions for your unique financial situation.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/images/services/banking.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Trust & Estate Filing</h3>
                            <p class="fs-xs mb-0">Expert handling of trust and estate filings for peace of mind.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/images/services/payments.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Wealth Advisory</h3>
                            <p class="fs-xs mb-0">Strategic advice to grow and protect your wealth effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
            </div>
        </div>
    </div>
</section>


<!-- Service -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row">
        <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
                {% set image = resize_image(path=current_path~"IMG_5347.jpg", width=588, height=533, op="fill", format="webp", quality=75) %}
                <img src="{{ image.url }}" class="rounded-3" alt="Image">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Consulting & Advisory</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">Insightful consulting and strategic advice to enhance your business operations. We offer tailored solutions to address your unique challenges, helping you make informed decisions and achieve your goals efficiently. Our team provides expert guidance to streamline processes and drive sustainable growth.</p>
            <div class="border rounded-3 mb-4 mb-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 g-0">
                    <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
                        <img src="/images/services/asset.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Business Valuation</h3>
                            <p class="fs-xs mb-0">Comprehensive valuations to guide your business decisions.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-bottom p-3">
                        <img src="/images/services/operations.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Business Plans</h3>
                            <p class="fs-xs mb-0">Customized plans to drive your business success and growth.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center border-end-sm p-3">
                        <img src="/images/services/finance.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">CFO/Controller</h3>
                            <p class="fs-xs mb-0">Expert financial leadership to optimize your company’s performance.</p>
                        </div>
                    </div>
                    <hr class="d-sm-none">
                    <div class="col d-flex align-items-center p-3">
                        <img src="/images/services/audit.svg" width="48" alt="Icon">
                        <div class="ps-2 ms-1">
                            <h3 class="h6 mb-0">Investor Relations</h3>
                            <p class="fs-xs mb-0">Effective communication strategies to engage and inform your investors.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row">
                <a href="/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Free Consultation</a>
            </div>
        </div>
    </div>
</section>





<!-- CTA -->
<section class="bg-secondary py-5">
    <div class="container text-center py-1 py-md-4 py-lg-5">
        <h2 class="h1 mb-4">Ready To Get Started?</h2>
        <p class="lead pb-3 mb-3">Reach out for a free consultation.</p>
        <a href="/contact" class="btn btn-primary shadow-primary btn-lg mb-1">Get started</a>
    </div>
</section>


{% endblock content %}
