{% extends "base.html" %}

{% block content %}


    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      {% include "partials/nav.html" %}

      <!-- Links + Contact form -->
      <section class="position-relative bg-secondary pt-5">
        <div class="container position-relative zindex-2 pt-5">

          <!-- Breadcrumb -->
          <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            
          </nav>

          <div class="row">

            <!-- Contact links -->
            <div class="col-xl-4 col-lg-5 pb-4 pb-sm-5 mb-2 mb-sm-0">
              <div class="pe-lg-4 pe-xl-0">
                <h1 class="pb-3 pb-md-4 mb-lg-5">Contact Us</h1>
                <div class="d-flex align-items-start pb-3 mb-sm-1 mb-md-3">
                  <div class="bg-light text-primary rounded-circle flex-shrink-0 fs-3 lh-1 p-3">
                    <i class="bx bx-envelope"></i>
                  </div>
                  <div class="ps-3 ps-sm-4">
                    <h2 class="h4 pb-1 mb-2">Email us</h2>
                    <p class="mb-2">Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <div class="btn btn-link btn-lg px-0">
                      Leave a message
                      <i class="bx bx-right-arrow-alt lead ms-2"></i>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-start">
                  <div class="bg-light text-primary rounded-circle flex-shrink-0 fs-3 lh-1 p-3">
                    <i class="bx bx-group"></i>
                  </div>
                  <div class="ps-3 ps-sm-4">
                    <h2 class="h4 pb-1 mb-2">Call us</h2>
                    <p class="mb-2">Drop us a line and let's see how we can help</p>
                    <div class="btn btn-link btn-lg px-0">
                      Send an application
                      <i class="bx bx-right-arrow-alt lead ms-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Contact form -->
            <div class="col-xl-6 col-lg-7 offset-xl-2">
              <div class="card border-light shadow-lg py-3 p-sm-4 p-md-5">
                <div class="bg-dark position-absolute top-0 start-0 w-100 h-100 rounded-3 d-none d-dark-mode-block"></div>
                <div class="card-body position-relative zindex-2">
                  <h2 class="card-title pb-3 mb-4">Get Free Consultation</h2>
                  <form class="row g-4 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="fn" class="form-label fs-base">Full name</label>
                      <input type="text" class="form-control form-control-lg" id="fn" required>
                      <div class="invalid-feedback">Please enter your full name!</div>
                    </div>
                    <div class="col-12">
                      <label for="email" class="form-label fs-base">Email address</label>
                      <input type="email" class="form-control form-control-lg" id="email" required>
                      <div class="invalid-feedback">Please provide a valid email address!</div>
                    </div>
                    <div class="col-12">
                      <label for="specialist" class="form-label fs-base">Specialist</label>
                      <select class="form-select form-select-lg" id="specialist" required>
                        <option value="" selected disabled>Choose a specialist</option>
                        <option value="Therapist">Therapist</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Gynecologist">Gynecologist</option>
                        <option value="Surgeon">Surgeon</option>
                      </select>
                      <div class="invalid-feedback">Choose a specialist from the list!</div>
                    </div>
                    <div class="col-sm-6">
                      <label for="date" class="form-label fs-base">Date</label>
                      <input type="text" class="form-control form-control-lg" id="date" data-format='{"date": true, "datePattern": ["m", "d"]}' placeholder="mm/dd" required>
                      <div class="invalid-feedback">Enter a date!</div>
                    </div>
                    <div class="col-sm-6">
                      <label for="time" class="form-label fs-base">Time</label>
                      <input type="text" class="form-control form-control-lg" id="time" data-format='{"time": true, "timePattern": ["h", "m"]}' placeholder="hh:mm" required>
                      <div class="invalid-feedback">Enter a time!</div>
                    </div>
                    <div class="col-12 pt-2 pt-sm-3">
                      <button type="submit" class="btn btn-lg btn-primary w-100 w-sm-auto">Make an appointment</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 bg-light" style="height: 8rem;"></div>
      </section>


      <!-- Branches -->
      <section class="container py-2 py-lg-4 py-xl-5 mb-2 mb-md-3">
        <div class="row py-5">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="d-flex flex-column h-100 shadow-sm rounded-3 overflow-hidden">
              <iframe class="d-block h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4097.669826341791!2d-79.4668289090012!3d43.845967749103146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2bfb50ffed91%3A0x9cd0b3342ce33a33!2s941%20Rutherford%20Rd%20%23311%2C%20Maple%2C%20ON%20L6A%201S2!5e0!3m2!1sen!2sca!4v1666048525525!5m2!1sen!2sca" style="border: 0; min-height: 300px;" allowfullscreen="" loading="lazy"></iframe>

            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <h2 class="h4 mb-4">Head Office</h2>
            <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
              <li class="d-flex pb-1 mb-2">
                <i class="bx bx-map text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
                941 Rutherford Rd, Suite #311, Maple, ON L6A 1S2
              </li>
              <li class="d-flex pb-1 mb-2">
                <i class="bx bx-phone-call text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
                (905) 761-7524
              </li>
              <li class="d-flex">
                <i class="bx bx-time-five text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
                <div>
                  <strong class="text-nav">Mon - Fri</strong>: 9:00 am - 5:00 pm
                  <br>
                  <strong class="text-nav">Sat - Sun:</strong>: 9:00 am - 5:00 pm
                </div>
              </li>
            </ul>
            
            <!--<div class="d-flex pt-1 pt-md-3 pt-xl-4">
              <a href="#" class="btn btn-icon btn-secondary btn-facebook me-3">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-instagram me-3">
                <i class="bx bxl-instagram"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-twitter me-3">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-youtube">
                <i class="bx bxl-youtube"></i>
              </a>
            </div>-->
          </div>
        </div>
      </section>
    </main>


    <!-- Footer -->
    <footer class="footer dark-mode bg-dark border-top border-light pt-5 pb-4 pb-lg-5">
      <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img src="/assets/img/logo.svg" width="47" alt="Silicon">
              Silicon
            </div>
            <p class="fs-sm text-light opacity-70 pb-lg-3 mb-4">Proin ipsum pharetra, senectus eget scelerisque varius pretium platea velit. Lacus, eget eu vitae nullam proin turpis etiam mi sit. Non feugiat feugiat egestas nulla nec. Arcu tempus, eget elementum dolor ullamcorper sodales ultrices eros.</p>
            <form class="needs-validation" novalidate>
              <label for="subscr-email" class="form-label">Subscribe to our newsletter</label>
              <div class="input-group">
                <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder="Your email" required>
                <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
                <div class="invalid-tooltip position-absolute top-100 start-0">Please provide a valid email address.</div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </div>
            </form>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <h6 class="mb-2">
                  <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
                </h6>
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Prices</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">News</a></li>
                  </ul>
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Terms &amp; Conditions</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-3">
                <h6 class="mb-2">
                  <a href="#social-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Socials</a>
                </h6>
                <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column mb-2 mb-lg-0">
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Facebook</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Twitter</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Contact Us</h6>
                <a href="mailto:email@example.com" class="fw-medium">email@example.com</a>
              </div>
            </div>
          </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
          <span class="text-light opacity-50">&copy; All rights reserved. Made by </span>
          <a class="nav-link d-inline-block p-0" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
        </p>
      </div>
    </footer>

{% endblock content %}
